<h3 class="title is-4"><%= @breed.name %></h3>

<h4 class="subtitle is-5">Horses of this breed</h4>

<div class="columns is-multiline">
  <%= render partial: 'horses/horse',
            collection: @breed.horses,
            locals: { name_is_link: true } %>
</div>