<div class="horse">
  <p><%= horse.name %></p>
  <ul>
    <li>
      <strong>Age:</strong> <%= horse.age %>
    </li>
    <li>
      <strong>Number of Legs:</strong> <%= horse.number_of_legs%>
    </li>
    <li>
      <strong>Top Speed:</strong> <%= horse.top_speed %>
    </li>
  </ul>
</div>