<p>
  Found <%= pluralize(@horses.size, 'result') %>
  for the search term "<%= params[:search_term] %>".
</p>

<div class="search-results columns is-multiline">
  <%= render partial: 'horses/horse',
             collection: @horses,
             locals: { show_link: true } %>
</div>